body{
    font-family: "Kiwi Maru", "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
}
header{
    width: 100%;
    padding:20px;
    height:100px;
    line-height: 50px;
    background-color: darkkhaki;

}
header h1{
    color: beige;
    text-align: center;
}
main{
    display: block;
    width: 100%;
    padding:20px;
    line-height: 50px;
    background-color:cornsilk;
}

footer{
    display: block;
    width: 100%;    
    line-height: 15px;
    height:50px;
    padding:20px;
    background-color: darkkhaki;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.image-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.video-container {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 150px;
  object-fit: cover;
  margin: 5px;
}